/.venv
shadowing-app/__pycache__/config.cpython-313.pyc
shadowing-app/__pycache__/database.cpython-313.pyc
shadowing-app/__pycache__/prompt_builder.cpython-313.pyc
shadowing-app/__pycache__/transcript_parser.cpython-313.pyc
shadowing-app/__pycache__/app.cpython-313.pyc
shadowing-app/__pycache__/config.cpython-314.pyc
shadowing-app/__pycache__/database.cpython-314.pyc
shadowing-app/__pycache__/prompt_builder.cpython-314.pyc
shadowing-app/__pycache__/transcript_parser.cpython-314.pyc
/static/audio
shadowing-app/static/audio
